html{
    font-size: 22px;
}
/* body{
    background-color: black;
    
} */
h1{
    color: skyblue;
    font-style: italic;
}
p{
    color: skyblue;
    font-style: italic;
}
.box{
     
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: skyblue;
}
.newClass{
    color: skyblue;
    font-style: italic;
}
div{
    height:100px;
    width:100 px;
    background-color: skyblue;
    color: white;
    border: 1px solid black;
}
.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}