html{
    font-size: 22px;
}
body{
    background-color: black;
    color: whitesmoke;
}
h1{
    color: skyblue;
    font-style: italic;
}
p{
    color: skyblue;
    font-style: italic;
}
.box{
     
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: skyblue;
}